html {
  box-sizing: border-box;
  background-image: url(background-suntzu.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.description-container h1,
.description-container a {
  text-align: center;
}

.description-container a:active,
.description-container a:link,
.description-container a:visited {
  text-decoration: none;
  color: black;
}

.description-container a:hover {
  font-weight: bold;
}

.quotes-container,
.description-container {
  margin-bottom: 1rem;
  color: black;
  text-align: justify;
  background-color: white;
  width: auto;
  max-width: 56.25rem;
  padding: 20px 30px;
  border-radius: 10px;
}

.quote-text {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #333;
  outline: none;
  padding: 0.5rem 1.3rem;
}

button:hover {
  filter: brightness(110%);
}

.twitter-button:hover {
  color: #38a1f3;
}

button:active {
  transform: translate(0, 0.3rem);
}
@media screen and (max-width: 1000px) {
  html {
    background-image: none;
    display: block;
  }

  .quotes-container,
  .description-container {
    margin-bottom: 1rem;
    width: 85vw;
  }
} ;
